@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black; */
    color:aliceblue;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
}
.bg-index{
    background-color: black;
}
.bg-pages{
    background: linear-gradient(268.31deg, #380061 36.69%, #20018B 110.11%);
}

/* <------------------------------------ menu responsivo ------------------------------------> */
.cabecalho {
    /* background-color: rgb(46, 122, 122); */
    box-shadow: 0 3px 10px black;
}
.nav-bar {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-height: 80%;
}
.nav-list{
    display: flex;
    align-items: center;

}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin:0 50px;
    letter-spacing: 2px;
}
.nav-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.15rem;
    font-weight: 400;
}
.nav-link:hover {
    text-shadow: 6px 4px 5px #5e0c98;
}

.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}


/* <------------------------------------ cards index.html ------------------------------------> */
.card-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 95vh;
}
.card {
    background-color: #141227;
    margin: 15px;
    max-width: 21rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 1.5%;
    overflow: hidden;
    transform: 3s;
}
.card-purple:hover {
    border: 1px solid #2D2857;
    box-shadow: 0px 0px 30px 7px rgba(56, 0, 97, 0.85);
}
.card-blue:hover {
    border: 1px solid #2D2857;
    box-shadow: 0px 0px 30px 7px rgba(5, 0, 151, 0.85);
}
.card h2 {
    padding: 5%;
}
.card figure {
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card figure img {
    width: 20rem;
    border-radius: 3%;
}
.card figure figcaption {
    padding: 2%;
}



/* <------------------------------------ footer ------------------------------------> */
footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: linear-gradient(268.31deg, #380061 36.69%, #20018B 110.11%); */
    border-radius: 15px 15px 0px 0px;
}
.footer-bg-gradient {
    background: linear-gradient(268.31deg, #380061 36.69%, #20018B 110.11%);
}
.rodape {
    background-color: #141227;
}
.footer-title {
    padding: 3%;
    background: radial-gradient(46.96% 6762.16% at 79.39% 51.35%, #4573C0 0%, #9175D9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.nav-footer {
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.footer-link img {
    max-width: 4.5rem;
}


.conteudo {
    align-items: center;
    text-align: center;
    height: 85vh;
    flex-direction: column;
    
}
.titulo-sec h1{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size:xx-large;
}
.conteudo-sec {
    display: flex;
    align-items: center;
    justify-content:center;
    /* flex-direction: row; */
    margin-top: 5%;
}

.img-section {
    padding-left: 5%;
    padding-right: 5%;

}
.img-section img{
    filter: drop-shadow(7px 9px 7px rgba(0, 0, 0, 0.27));
    border-radius: 6px;
}

.img-section figcaption {
    padding-top: 1%;
    letter-spacing: 1px;
}

.paragrafo {
    align-items: center;
    margin-right: 5%;
}

/* BREAKPOINTS */
@media screen and (max-width:550px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 2rem;
    }
    .open {
        display: block;
    }

    .card-list{
        display: contents;
        align-items: center;
        justify-content: center;
        margin: 0;

    }
    .card {
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;

    }
    .card img {
        max-height: 200px;
    }

    .conteudo-sec {
    display: contents;
    }
    .img-section {
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .img-section img {
        max-height: 200px;
        
    }
    .paragrafo {
        margin-left: 5%;
    } 
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 2rem;
    }
    .open {
        display: block;
    }

    .card-list{
        display: contents;
        align-items: center;
        justify-content: center;
        margin: 0;

    }
    .card {
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;

    }
    .card img {
        max-height: 200px;
    }

    .conteudo-sec {
    display: contents;
    }
    .img-section {
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .img-section img {
        max-width: 60%;
        
    }
    .paragrafo {
        margin-left: 5%;
    }

}
@media screen and (max-width: 1200px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 2rem;
    }
    .open {
        display: block;
    }

    .card-list{
        display: inline;
        align-items: center;
        justify-content: center;

    }
    .card {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 10%;
        margin-right: 30%;
        margin-top: 10%;
        margin-bottom: 10%;

    }
    .card img {
        max-height: 200px;
    }

    .conteudo-sec {
    display: contents;
    }
    .img-section {
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .img-section img {
        max-width: 60vh;
    }
    .paragrafo {
        margin-left: 5%;
    }   
}